.buttongrid
{
   display:flex;
   justify-content:flex-end;
   align-items: flex-end;
   gap:10px;
}
.button
{
    position: fixed;
    /* top: 10px; */
    right: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0); /* Black with 0% opacity (fully transparent) */
    border: 1px solid #fff; /* Optional: add a border for better visibility on different backgrounds */
    color: #fff;
    
}

/* styles.css */

.site-footer {
    background-color:black; /* Change this color to your desired background color */
    color: #fff;
    /* padding: 30px 0; */
    height:2cm;
    align-items: center;
}

.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.text-white:hover{
    color:rgb(139, 0, 90);
}

.text-white1:hover{
    color:rgb(0, 102, 255);
}

.text-white2:hover{
    color:red;
}

.text-white3:hover{
    color:green;
}
.price{
    align-items: center;
    justify-content: center;
    text-align:center;
  }
.bigdiv
{
    display: flex;
    justify-content: space-evenly;
}
.bigdiv1
{
    display: flex;
    justify-content: space-evenly;
}
