.box
{
    background-size: cover;
}
.box h1{
    text-align: center;
}
/* .slick-slide div{
    margin: 0 1rem;
} */
.slick-dots li button:before
{
    font-size:15px;
    color:azure;
}
.slick-dots
{
    margin-bottom:50px;
    /* color: white; */
}
.slick-dots li
{
    color:azure;
}  
.bigdiv1
{
    display: flex;
    gap:25px;
    margin-left:10px;
}
.page
{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
